
.carusel-wrp {
    margin-top: 110px;
}
.ngb-carousel {
    width: 100%;
}
.carusel-wrp{
    padding-top:5%;
}
.picsum-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.picsum-img-wrapper img {
    width: 100%;    
    max-width: 800px;    
}

.carousel-caption {
    text-align: center;
}
