<div class="top-bar">
  <div class="top-spacer">
    <p><b> New! Unique workshops for professional enrichment! Enter >></b></p>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light ">

    <img [src]="imageUrl" alt="logo" class="logo">

    <ul class="navbar-nav">
      <li class="nav-item">
        <a mat-button href="/user/logout">
          <mat-icon>logout</mat-icon>Log-out
        </a>
      </li>
      <li class="nav-item">
        <a mat-button href="/user/register">
          <mat-icon>person_add</mat-icon>Sign-up
        </a>
      </li>
      <li class="nav-item">
        <a mat-button href="/user/login">
          <mat-icon>login</mat-icon>Log-in
        </a>
      </li>

      <li class="nav-item">
        <a mat-button href="/recipe/add">
          <mat-icon>add</mat-icon>Add Recipe
        </a>
      </li>
      <li class="nav-item">
        <a mat-button href="/recipe">
          <mat-icon>list</mat-icon> Recipes
        </a>
      </li>
      <li class="nav-item">
        <a mat-button href="/home">
          <mat-icon>home</mat-icon> Home
        </a>
      </li>

    </ul>

    <mat-chip-set aria-label="Dog selection">
      <mat-chip>
        {{this.userName}}
        <button matChipRemove aria-label="Remove orange">
          <div><b>{{userName?.toString()?.charAt(0)?.toUpperCase()}}</b></div>
        </button>
      </mat-chip>
    </mat-chip-set>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>

    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item  href="/user/logout">
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>

  </nav>
</div>