.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.login-form {
  display: flex;
  flex-direction: column;
  color: #a77325db;
  background-color: #00000057;
  margin-top: 120px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);

}

.form-field {
  width: 100%;
  margin-bottom: 20px;
  color: #a77325db;
}

.error-message {
  color: #a77325db;
  margin-top: 5px;
}

.submit-button {
  width: 100%;
  margin-top: 20px;
  background-color: #f5f2ed;
  color: rgba(46, 46, 20, 0.349);
  border: 2px solid #a77325db;
  border-radius: 2px;
}

.submit-button:hover {
  width: 100%;
  margin-top: 20px;
  background-color: #a77325db;
  ;
  color: rgb(255, 255, 255);
  border-radius: 2px, ;
}

.rotating-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: large;
}

.rotating-icon {
  animation: rotate 2s linear infinite;

}


::ng-deep .form-field.mat-focused .mat-form-field-outline {
  color: white;
  /* Change this to the desired color */
  background-color: a77325db;
}

h1 {
  color: #ffffff;
  /* צבע טקסט לבן */
  padding: 10px;
  border-radius: 10px;
  margin-top: 0;
}
.example-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}